# Configuration template file. Copy it by removing 'sample' extension to apply upon runtime.
# These configurations will be loaded both under development and production.
# Don't put sensitive information like passwords into source code control!
server:
  port: 8080
  error:
    whitelabel:
      enabled: false
  ssl:
    enabled: false
    key-store: keystore.p12
    key-store-password:
    keyStoreType:
    keyAlias:

spring:
  application:
    name: springboot-multimodule-kotlin
  profiles:
    # Empty if 'default'.
    active:
  datasource:
    # Automatic database initialisation. Maybe conflict to hibernate.
    # https://docs.spring.io/spring-boot/docs/current/reference/html/howto-database-initialization.html
    initialization-mode: ALWAYS
    schema: classpath:/sql/v1.0/schemas/*.sql
    data: classpath:/sql/v1.0/data/*.sql
    type: com.zaxxer.hikari.HikariDataSource
    driver-class-name:
    url:
    username:
    password:
  jpa:
    open-in-view: false
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      # Better to use create-drop for integration tests
      ddl-auto: validate
    properties:
      hibernate:
        show_sql: true
        format_sql: true
  resources:
    add-mappings: false
  mvc:
    throw-exception-if-no-handler-found: true

management:
  server:
    add-application-context-header: false

logging:
  path:
  file:
  level:
    # Better to raise over than INFO in production environment
    org.springframework.web: INFO
    # All exceptions are handled and logged by com.github.fj.restapi.endpoint.CustomErrorHandler
    org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver: OFF
    org.hibernate: INFO
    com.github.fj: DEBUG

app:
  push:
    fcm-private-key-location:
    fcm-server-key:
    fcm-project-id:
    fcm-android-app-name:
    fcm-ios-app-name:
    fcm-web-app-name:

  cipher:
    # Please provide 32 digit HEX presented your encryption key, for example:
    # access-token-aes256-key: C4 9B 24 54 5F 6C 74 FF 0C C7 62 EA 4B 3D 75 1C
    #                          5A 5C 15 F1 6A 95 3F 7C 4C B7 9B EB 53 FE CC 7B
    access-token-aes256-key:
