# Configuration template file for unit/integration test.
# Don't put sensitive information like passwords into source code control!
server:
  port: 8080
  error:
    whitelabel:
      enabled: false

spring:
  application:
    name: springboot-multimodule-kotlin
  profiles:
    # Empty if 'default'.
    active:
  datasource:
    # Automatic database initialisation. Maybe conflict to hibernate.
    # https://docs.spring.io/spring-boot/docs/current/reference/html/howto-database-initialization.html
    initialization-mode: ALWAYS
    schema: classpath:/sql/v1.0/schemas/*.sql
    data: classpath:/sql/v1.0/data/*.sql
    type: com.zaxxer.hikari.HikariDataSource
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mysql://localhost:3306/fj_test?useSSL=false&useUnicode=yes&characterEncoding=UTF-8&useJDBCCompliantTimezoneShift=true&serverTimezone=UTC&character_set_server=utf8mb4
    username:
    password:
  jpa:
    open-in-view: false
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      # Better to use create-drop for integration tests
      ddl-auto: create-drop
    properties:
      hibernate:
        show_sql: true
        format_sql: true
  resources:
    add-mappings: false
  mvc:
    throw-exception-if-no-handler-found: true

management:
  server:
    add-application-context-header: false

logging:
  path:
  file:
  level:
    # Better to raise over than INFO in production environment
    org.springframework.web: INFO
    org.hibernate: WARN
    com.github.fj: TRACE

app:
  push:
    fcm-private-key-location:
    fcm-server-key:
    fcm-project-id:

  cipher:
    access-token-aes256-key: C4 9B 24 54 5F 6C 74 FF 0C C7 62 EA 4B 3D 75 1C
                             5A 5C 15 F1 6A 95 3F 7C 4C B7 9B EB 53 FE CC 7B
